<! DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{heading}} </title>

    </head>
    <body>
        {{> header}}
        
        <p>We will connect soon.</p>

        {{> footer}}
    </body>

</html>